/* Reset CSS */
*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

/* common  */
.clear{
    clear:both;
}
.text-white{
    color:#fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px; 
}
.col{
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width:50%;
}
.row::after{
    content: "";
    display:block;
    clear: both;
}
.mt-8{
    margin-top:8px !important;
}
.mt-16{
    margin-top:16px !important;
}



#main {

}

#header {
    height: 46.4px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #000;
    position: fixed;
    z-index: 1;
    
}
#nav, .subnav {
    list-style-type: none;
}
#nav {
 display: inline-block;
 }

 #nav > li {
    display:inline-block;
}

#nav li {
    position: relative;
    
}
#nav >li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav  li  a {
    display: block;
    
    text-decoration: none;
    line-height: 22.5px;
    padding: 12px 24px;
    
}

#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    left:0px;
}



#nav li:hover .subnav{
    display:block;
}

#nav .subnav {
    display:none;
    position:absolute;
    top: 100%;
    left: 0px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
 #nav .subnav a {
     color:#000;
     padding: 8px 16px;
     width: 100%;
     
    
 }
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
    width: 100%; 
      
}


#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-btn{
    float:right;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-btn,
#header .search-button{
    float:right;
   
}
#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-btn:hover{
    background-color:#ccc;
    
}
#header .mobile-btn:hover .menu-icon{
    color:#000;
}

#header .menu-icon,
#header .search-icon{
    color:#fff;
    padding: 0px 24px;
    line-height: 46px;

}

#slider {
    position:relative;
    margin-top: 46px;
    
    /* background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat; */

}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    transform: translate(-50%,0%);
    left:50%;
    color: #fff;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    padding-bottom:24px;
    
    
}

#slider .text-description{
    font-size:15px;
    text-shadow: 0 0 1px #000;
}




#content {
    
}

#content .content-section{
    max-width: 800px;
    /* max-width: 100%; */
    padding-top:64px;
    padding-bottom: 112px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-subheading{
    font-style: italic;
    font-size: 15px;
    opacity: 0.6;
    text-align: center;
    margin-top: 25px;
}

#content .about-content{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list{
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
}
#content .member-item{
    text-align: center;
    
}

#content .member-name{
    font-size: 15px;
}

#content .member-avt {
    margin-top:0px;
    width: 180px;
    height: 200px;
    border-radius: 4px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li{
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color:#fff;
    padding: 3px 4px;
    margin-left: 16px;
    

}

.ticket-list .quantity{
    float:right;
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -1px;

}

/* Place */
.place-list{
    padding: 32px 0px;
    margin: 0px -16px 0px;
}

.place-item{
    float:left;
    width: 33.3333333% ;
    padding: 0 16px;
    padding-bottom:32px;
}

.place-img{
    display:block;
    
    width: 100%;
    height: 200px;
    
}
.place-img:hover{
    opacity:0.6;
}

.place-body{
    padding:16px;    
    background-color: #fff;
    font-size: 15px;
}

.place-heading{
    
    font-size: 15px;
    font-weight: 700;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-description{
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    
}

.place-buy-button{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    border:none;
}

.place-buy-button:hover{
    color:#000;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Buy ticket button */
.modal{

    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display:flex;
}



.modal .modal-container{
    background-color: #fff;
    width: 900px; 
    min-height: 200px;
    position:relative;
    animation: modalFadein ease-in-out .7s;
    
}


.modal .modal-header {
    height: 130px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

.modal-heading-icon{
    padding:12px;
}

.close-container{
    position:absolute;
    right:0px;
    top: 0;
    color:#fff;
    padding: 16px 16px;
    width: 46px;
    height: 52px;
}

.close-container:hover{
    color:#000;
    background-color: #ddd;
    cursor: pointer;
}
/* contact-form */
.contact-content{
    margin-top:48px;

}
.contact-infor{
    font-size: 18px;
    line-height: 1.5;
    
}
.contact-infor i[class*=ti-] {
    width: 30px;
    display: inline-block;
    
}
.contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    padding:  10px;
    border: 1px solid #ccc;
    width: 100%;

}
.contact-form .form-submit-btn{
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    float: right;
    appearance: none;
    
    

}
.contact-form .form-submit-btn:hover{
    background-color: #757575;
    color: #000;
    cursor: pointer;
}

/* Map foooter */
.map-section img{
    width: 100%;
}



.modal-body {
    padding: 16px;
}

.modal .modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}

.modal .modal-input {
    font-size: 15px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}

#buy-ticket {
    padding: 16px;
    width: 100%;
    background: #009688;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform:uppercase;
}

#buy-ticket:hover{
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer{
    padding-top:0px;
    padding:16px;
    text-align: right;
    
}

.modal-footer a{
    color:#2196F3;
}
/* tạo animation cho modal bằng keyframes */
@keyframes modalFadein {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* Footer section */
#footer {
    padding:64px 16px;
    text-align: center;
}
#footer .social-list{
    font-size:20px;

}
#footer .social-list a {
    color:rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover {
    opacity: 0.6;
}
#footer .copyright{
    margin-top: 15px;
}
#footer .copyright a{
    color:rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
